body {
    font-family: 'Ubuntu', sans-serif;

    background: linear-gradient(
        to bottom right,
        #5d5d5d 10%,
        #5d5d5d,
        purple
    );

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

html, body {
    min-height: 100%;
}